@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #D39219;
}

body {
  cursor: none;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.heading {
  font-family: 'Crimson Pro', 'Times New Roman', Times, serif;
}